$registerImg: 200px;
$registerImg-size-small: 100px;

.registerImg {
  width: $registerImg;
  height: $registerImg;
  border: 1px solid #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 576px) {
    width: $registerImg-size-small;
    height: $registerImg-size-small;
  }
}
