/*
Author: Truls Haakenstad - @Menubrea
Team: User
Page: Profile
Version: 1.0.0
*/

.maxWidthProfileContainer {
  max-width: 750px;
}

.maxWidthLayout {
  max-width: 1420px;
}

.tabWidth {
  width: clamp(80px, 25vw, 326px);
}

.imgSize {
  max-width: 300px;
  max-height: 300px;
}
#skillsList {
  li {
    width: fit-content;
    margin: 0 0.5rem 0 0.5rem;
  }
}
