/*
Author: Truls Haakenstad - @Menubrea
Team: User
Page: Profile
Version: 1.0.0
*/

.maxWidthProfileContainer {
  max-width: 750px;
}

.maxWidthLayout {
  max-width: 1420px;
}

.tabWidth {
  width: clamp(80px, 25vw, 326px);
}

.imgSize {
  max-width: 300px;
  max-height: 300px;
}
#skillsList {
  li {
    width: fit-content;
    margin: 0 0.5rem 0 0.5rem;
  }
}

.vertical-line {
  border-left: 2px solid darkgray;
  height: 100%;
  margin-right: 10px;
}

.card-img-left {
  max-width: 150px;
  min-width: 100px;
}

.card-title {
  font-size: max(13px, min(4vw, 20px));
}

.card-text {
  font-size: max(10px, min(4vw, 15px));
}

.card-bottom {
  font-size: max(8px, min(4vw, 13px));
}

#success-modal {
  width: 1400px;
  height: 530px;
  display: none; // Hide until triggered
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent(0, 0, 0, 0.5); // Keep the transparent background
}

.profile-input {
  width: 100%;
}

#emailStudent {
  cursor: not-allowed;
}

@media (min-width: 992px) {
  .profile-input {
    width: 50%;
  }
}
