// Author: Jonas Hope
// Team: Warrior Gallop

@import '../themeColorVariables';

// Stripes on listings
.stripes:nth-child(odd) {
  background-color: $theme-new-light;
}

.stripes:nth-child(even) {
  background-color: white;
}

// Active
.active {
  font-weight: 600 !important;
}

// Hover State on tabs
.nav-link:hover {
  background-color: $theme-Light !important;
}

.active:hover {
  background-color: white !important;
}

// Search
.adminSearchField {
  height: 38px !important;
}

// Applicant modal
.applicant-modal:hover {
  cursor: pointer;
}

.modal-backdrop.show {
  width: 100%;
  height: 100%;
}

.applicant {
  & .close-btn {
    height: 36px;
    width: 36px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
      opacity: 1 !important;
      box-shadow: none !important;
    }
  }

  & span,
  .time-date {
    font-size: 0.9rem;
  }

  & .modal-footer button {
    color: black;
    font-weight: bold;
    background-color: #FD2E07;
    width: 150px;
  }
}