// Author: Jonas Hope
// Team: Warrior Gallop

@import '../themeColorVariables';

// Stripes on listings
.stripes:nth-child(odd) {
  background-color: $theme-new-light;
}

.stripes:nth-child(even) {
  background-color: white;
}

// Active
.active {
  font-weight: 600 !important;
}

// Hover State on tabs
.nav-link:hover {
  background-color: $theme-Light !important;
}

.active:hover {
  background-color: white !important;
}

// Search
.adminSearchField {
  height: 38px !important;
}