/*
Author: Stian Kornbakk
Team: FE-User
Page: /pages/admin/users/index.html + general styling for the admin container (used for all admin pages)
Version: 1.0.0
*/

// Admin pages
.adminTileLightGray {
  background-color: #d9d9d9;
}

.adminTileMediumGray {
  background-color: #c1c1c1;
}

.adminTileDarkGray {
  background-color: #b4b4b4;
}

.adminLinks:hover {
  text-decoration: underline;
}

.searchIcon {
  width: 20px;
}

// Admin users page
.activeIcon,
.inActiveIcon,
.deleteIcon {
  width: 22px;
}
