
.icon {
    width: 50px;
  }
  
  .icon-sm {
    width: 25px;
  }
  
  .ms-n5 {
    margin-left: -40px;
  }

  /*
Author: Karen Bonilla
Team: Vetakollen
Page: listings/index.html
*/

@media (max-width: 1199px){
  #container-listings {
    width: 90% !important;
  }

  .card-listing {
    display: grid !important; 
    grid-template-columns: auto 1fr;
    padding-left: 8px;
    // padding-right: 5px;
  }
  
  #img-thumbnail {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #listing-card-body {
    padding-right: 8px !important;
  }

  .card-title {
    font-size: 1em !important;
  }

  .card-body p {
    font-size: 0.8em !important;
  }
}


@media (max-width: 1199px) {
  .search-container {
    margin-left: 0 !important;
  }
}
