@import '../../../node_modules/bootstrap/scss/functions';

/*
Author: Jon Åstveit
Team: FE-application
Page: index.html
Version: 1.0.0
*/

//SECTION 1
.section1 {
  background-color: $theme-Dark;
  background-image: url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  

    @media only screen and (max-width: 767px) {
      .section1 h1.display-5 {
        font-size: 2em;
      }
    }
}
// .customButton {
//   width: 200px;
//   height: 50px;
// }

//SECTION 2
.section2 {
  .buttonContainer {
    width: auto;
  }
  .imgContainer {
    width: 100%;
    height: 300px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  @media only screen and (min-width: 767px) {
    .imgContainer {
      height: 100%;
    }
  }
}

//SECTION 3

//Author: August Wahlberg
//Page: Client->Application->Index.html
//Version: 1.0.0

.clientAplication {
  max-width: 30rem;
}

.clientAplication .card-img-top {
  height: 20em;
}
