div[data-footer-col] {
  max-width: 300px;
}

.footerIcon {
  width: 20px;
}

.navlink-footer-id {
  transition: 0.3s ease-in-out;
}

.navlink-footer-id:hover {
  color: black !important;
  padding-left: 10px;
}

@media only screen and (min-width: 576px) {
  .center-desktop {
    justify-content: center;
  }
}
