div[data-footer-col] {
  max-width: 300px;
}

.footerIcon {
  width: 20px;
}

#navlink-footer-id:hover {
  color: black !important;
}

@media only screen and (min-width: 576px) {
  .center-desktop {
    justify-content: center;
  }
}
