@import './themeColorVariables';

.navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 1.2em;
  height: 4px;
  background-color: #{map-get($theme-colors, theme-new-light)};
  position: relative;
  transition: all 0.3s;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #{map-get($theme-colors, theme-new-light)};
  position: absolute;
  transition: all 0.3s;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -12px;
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: -12px;
}

/* Transform the toggler into X */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  top: 0;
  transform: rotate(0);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  bottom: 0;
  transform: rotate(90deg);
}
