#navItems:hover {
    color: black !important;
}

@media (max-width: 1000px) {
#navUl{
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
    }


//Costomizes the hamburger menu icon
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#fff' stroke-linecap='square' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-font-size:  2rem;