@import './themeColorVariables';

header {
  min-height: 86px;
  .navbarBrand {
    img {
      width: 33px;
      height: 50px;
    }
  }
  nav {
    ul {
      li {
        a {
          &:hover {
            color: black !important; // It won't change text color on hover otherwise as of now. temp fix
          }
        }
      }
    }
  }
}
.navBtnCustomWidth {
  min-width: 88px;
}

//Customize the hamburger menu icon
$navbar-toggler-font-size: 2rem;
$navbar-toggler-focus-width: none;
