@import './themeColorVariables';

header {
  .navbarBrand {
    img {
      width: 33px;
      height: 50px;
    }
  }
  nav {
    ul {
      li {
        a {
          &:hover {
            color: black !important; // It won't change text color on hover otherwise as of now. temp fix
          }
        }
      }
    }
  }
}

//Customize the hamburger menu icon
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{map-get($theme-colors, theme-new-light)}' stroke-linecap='square' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-font-size: 2rem;
$navbar-toggler-focus-width: none;
