@import '../../../node_modules/bootstrap/scss/functions';

//CHANGES TO BOOTSTRAP
body {
  font-family: 'Livvic', sans-serif;
}
.btn {
  border-radius: 0;
}

.card {
  border-radius: 10%;
}

//SECTION 1
.section1 {
  .section1Main {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
}

//SECTION 2
.section2 {
  .section2Main {
    height: 350px;
  }
  .section2Img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .section2LgText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .row {
    --bs-gutter-x: 0;
  }
}

//SECTION 3
.section3 {
  @media (min-width: 1200px) {
    padding: 0 5rem;
  }
}
.clientAplication {
  max-width: 30rem;
}

.clientAplication .card-img-top {
  height: 20em;
}
