@import '../../../node_modules/bootstrap/scss/functions';

$input-border-radius: 0.625rem;

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
.form-select,
#contactNumber {
  border-radius: $input-border-radius;
}

$input-border-color: #cbcbcb;
$input-bg: #ffffff;

$input-colors: (
  'input-border-color': $input-border-color,
  'input-bg': $input-bg,
);
