// Anna Wojtowicz (Tryvann)
// inline style moved from ../src/js/templates/listings/singleListingTemplate.js

.imgStyling {
  max-height: 250px;
  object-fit: cover;
}

.favIconStyling {
  width: 30px;
}
