@import '../../../node_modules/bootstrap/scss/functions';

// Theme colors
$theme-Primary: #ff2f01;
$theme-Secondary: #08f3b0;
$theme-Success: #08f3b0;
$theme-Light: #f8f8f8;
$theme-Grey: #dce3ea;
$theme-Dark: #212931;
$theme-black: #000000;

// Updated theme colors - by Jonas Hope (warrior gallop)

$theme-new-light: #f2f2f2;
$theme-new-grey: #dde3ea;

// Changing bootstrap colors

//changed color to blue on the $primary variable because it is affecting the active input and the links. changed from green to blue
$primary: #053c93;
$secondary: #505059;
$success: #0c8410;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #ea818b;
$light: #f8f9fa;
$dark: #212529;

$custom-colors: (
  'theme-primary': $theme-Primary,
  'theme-secondary': $theme-Secondary,
  'theme-success': $theme-Success,
  'theme-light': $theme-Light,
  'theme-grey': $theme-Grey,
  'theme-dark': $theme-Dark,
  'theme-new-light': $theme-new-light,
  'theme-new-grey': $theme-new-grey,
  'theme-black': $theme-black,
);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$input-focus-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
