// CUSTOM SCSS

.h1Style,
.h2Style,
.h3Style,
.paragraphClass {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.jobOfferImage {
  display: flex;
  justify-content: center;
  max-width: 800px;
}

.jobOfferImageContainer {
  display: flex;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}