// Admin pages
.adminTileLightGray {
    background-color: #D9D9D9;
}

.adminTileMediumGray {
    background-color: #C1C1C1;
}

.adminTileDarkGray {
    background-color: #B4B4B4;
}

.adminLinks:hover {
    text-decoration: underline;
}

#adminSearchFieldContainer {
    max-width: 250px;
}

#adminSearchField:focus {
    outline: none;
}