@import './custom/themeColorVariables';
@import './custom/clientApplication';
@import './custom/typography';
@import './custom/inputVariable';
//@import './custom/auth/registerUser';
@import './custom/buttonClose';

// Header and footer
@import './custom/header';
@import './custom/footer';

// Pages
@import './custom/customFile';
@import './custom/createOffer';
@import './custom/allListingPage';

//Admin
@import './custom/admin/index';

//Auth
@import './custom/auth/index';

//Profile
@import './custom/profile/index';

// Bootstrap from module
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
