// Colors and fonts
@import './custom/themeColorVariables';
@import './custom/typography';

// Header and footer
@import './custom/header';
@import './custom/footer';

// Pages
@import './custom/index';
@import './custom/customFile.scss';

// Bootstrap from module
@import '../../node_modules/bootstrap/scss/bootstrap';

