@import './custom/themeColorVariables';
@import './custom/clientApplication';
@import './custom/typography';
@import './custom/inputVariable';
@import './custom/buttonClose';
@import './custom/hamburgerBtn';

// Header and footer
@import './custom/header';
@import './custom/footer';

// Pages
@import './custom/customFile';
@import './custom/createOffer';
@import './custom/allListingPage';
@import './custom/singleListingPage';

//Admin
@import './custom/admin/index';

//Auth
@import './custom/auth/index';

//Profile
@import './custom/profile/index';

// Bootstrap from module
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  padding-top: 86px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
